# Data and Logs
bottle_data/
output/
*.mp4
*.jpg
*.pbdata

# Model Checkpoints (intermediate)
bottle_overfit_model_epoch_*.pth
*.onnx
*.onnx.data

# Virtual Environments
venv_conv/

# System Files
.DS_Store
__pycache__/
*.pyc